<!DOCTYPE html>
<html>
<head>
    <title>VIP List</title>
</head>
<body>
    <h1>VIP List v3</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Money</th>
            </tr>
        </thead>
        <tbody>
            {% for row in vip_data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

